{% extends 'layout.html' %}

{% block content %}
<div class="">



  <form id="" action="/water2/water2" method="post">

    <div class="">
      <input id="" type="text" name="waterName" placeholder="행사" />
    </div>

    <div class="">
      <input type="text" name="waterDate" placeholder="일시" />
    </div>
    <div class="">
      <input type='text' name="waterPlace" placeholder="장소" />
    </div>
    <div class="">
      <input type='text' name="waterHost" placeholder="주최/후원" />
    </div>


    <!-- 난 여기서 넘어온 value를 히든 인풋으로 포스트 쏴줬음 -->
    {% for abc in pra %}
    <input type="hidden" name="prac" value="{{abc}}">
    {% endfor %}

    <div class="">
      <button id="" type="submit" class="">등록</button>
    </div>
  </form>

</div>

{% endblock %}
