{% extends 'layout.html' %}

{% block head %}
<style>
	*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
}
.wrapper{
	margin-top: 150px;
    height:35vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
	
}
.user-container{

    background-color: #a9bdce;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}
.user-container label{
    font-size: 14px;
    margin-right: 1rem;
}
.user-container input{
    border-radius: 3px;
    border: none;
    height: 100%;
}
.display-container{
	border-radius: 20px;
    flex:12;
    background-color: #ffffff1a;
    overflow-y: scroll;
	

}
.input-container{
    flex:1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}
.input-container span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}
.chatting-input{
    font-size: 12px;
    height: 100%;
    flex: 8;
    border: none;
}
.send-button{
    flex: 1;
    background: #cbcbcb;
    border: none;
    height: 100%;
    border-radius: 3px;
}
.chatting-list li{
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.5rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile .user{
    font-size: 10px;
    margin-bottom: 0.3rem;
}
.profile .image{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.message{
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12px;
    margin: 0 5px ;
}
.time{
    font-size :10px;
    margin: 0 5 px;
}
.sent{
    flex-direction: row-reverse;
    float: right;
}
.sent .message{
    background: #35373a;
}
.received .message{
    background: #35373a;
}
</style>
<link href="../assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
{% endblock %}
{% block content %}



    <div class="">
        <div class="wrapper">
            <!-- <div class="user-container"></div> -->
                <input  type="hidden" id="nickname" value="{{user.nick}}"/>
            
            <div class="display-container">
                <ul class="chatting-list">
                    <li class="sent">
    
                    </li>
                    <li class="received ">
                            <span class="user text-white-100">--------------------상담시간은 운영자가 있을때만 가능합니다-------------------</span>
							
                    </li>
                </ul>
            </div>
            <div class="input-container">
                <span>
                    <input type="text" class="chatting-input">
                    <button class="send-button">전송</button>
                </span>
            </div>
        </div>
	</div>
{% endblock %}
 

{% block script %}.
<script src="/socket.io/socket.io.js"></script> 
    
    
<!--사용자가  보냄  -->
<script>
	const nickname = document.querySelector('#nickname');
	const chatList = document.querySelector('.chatting-list');
	const chatInput = document.querySelector('.chatting-input');
	const sendButton = document.querySelector('.send-button');
	const displayContainer = document.querySelector('.display-container')
	

	chatInput.addEventListener("keypress",(event)=>{
		if(event.keyCode === 13){
			send()
			
		}

	});
	function send() {
		const param ={ //보낼것담아ㅓ줘
			name: nickname.value,
			msg:chatInput.value
		}
		socket.emit('reply',param);
		chatInput.value = ""
	}
	
	
	sendButton.addEventListener('click',(send));

	const socket = io.connect('http://localhost:8001', {
path: '/socket.io',
transports: ['websocket'],
}); 

socket.on('news',(data) =>{
const{name, msg, time} = data;
const item = new LiModel(name, msg, time)
item.makeLi();
displayContainer.scrollTo(0, displayContainer.scrollHeight);
});
function  LiModel(name, msg, time) {
this.name =name;
this.msg =msg;
this.time =time;
this.makeLi= () =>{
	const li = document.createElement("li")
	li.classList.add(nickname.value === this.name? "sent" : "received");
	const dom = `<span class="profile">
		<span class="user">${this.name}</span>
		<img src="" alt="" />
		<i class="icon-user fa-2x"></i>
		</span>
		<span class="message">${this.msg}</span>
		<span class="time">${this.time}</span>`;
		li.innerHTML = dom;
		chatList.appendChild(li);
		
		console.log()
}

}


// socket.on('news', function (data) {
//     console.log(data);
//     socket.emit('reply', 'Hello Node.JS');
// });
</script>
{% endblock %}