<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 재설정</title>
</head>

<body>

  <!-- 철순이형 정규식 넣기 -->
  <div class="">
    <form id="" action="/reset" method="post">
      <div class="">
        <input type="password" name="rePwd" placeholder="8자 이상 문자, 숫자, 특수문자 사용" />
      </div>
      <div class="">
        <input type="password" name="rePwd1" placeholder="다시 한 번 입력하세요." />
      </div>

      <div class="">
        <button id="" type="submit" class="">등록</button>
      </div>

      <input type="text" style="display: none;" name ="qqq1" value="{{qqq}}">
    </form>
  </div>


</body>

</html>